<p *ngIf="error$ | async">error</p>
<mat-progress-bar
  *ngIf="(status$ | async) === 'loading'"
  mode="query"
></mat-progress-bar>
<main class="container">
  <div class="users-list_header">
    <button mat-raised-button color="primary" (click)="openCreateModal()">
      Добавить пользователя
    </button>
  </div>
  <section class="wrapper">
    <app-user-card
      *ngFor="let user of users$ | async"
      [user]="user"
      (delete)="deleteUser(user.id)"
      (edit)="openEditModal(user)"
    ></app-user-card>
  </section>
</main>
